<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <!--`id` int(11) NOT NULL AUTO_INCREMENT COMMENT '自增ID',-->
        <!--`login_id` varchar(20) DEFAULT NULL COMMENT '登录ID',-->
        <!--`session_id` varchar(45) NOT NULL COMMENT '访问session的ID\r\n',-->
        <!--`time` datetime DEFAULT NULL COMMENT '操作时间',-->
        <!--`ip_addr_v4` varchar(15) DEFAULT NULL COMMENT 'ipV4地址',-->
        <!--`ip_addr_v6` varchar(128) DEFAULT NULL COMMENT 'ipv6地址\r\n',-->
        <!--`os_name` varchar(20) DEFAULT NULL COMMENT '操作系统名称',-->
        <!--`os_version` varchar(20) DEFAULT NULL,-->
        <!--`bro_name` varchar(20) DEFAULT NULL COMMENT '浏览器名称',-->
        <!--`bro_version` varchar(20) DEFAULT NULL COMMENT '浏览器版本',-->
        <!--`request_body` varchar(60) DEFAULT NULL COMMENT '请求体信息',-->
        <!--`description` varchar(100) DEFAULT NULL COMMENT '操作描述',-->
        <!--`other` varchar(150) DEFAULT NULL COMMENT '其他描述',-->
        <!--`method` varchar(10) DEFAULT NULL COMMENT 'HTTP请求方法',-->

        <!--private long id;-->
        <!--private String loginId, sessionId, ipAddrV4, ipAddrV6, osName, osVersion, broName, broVersion, requestBody, description, other, method;-->
        <!--private Date time;-->
<mapper namespace="com.wpmac.mzehtapi.mapper.days.ActionLogMapper">

    <resultMap id="ActionLogResultMap" type="com.wpmac.mzehtapi.po.UserActionLog">
        <id column="id" property="id"/>
        <result column="login_id" property="loginId"/>
        <result column="session_id" property="sessionId"/>
        <result column="time" property="time"/>
        <result column="ip_addr_v4" property="ipAddrV4"/>
        <result column="ip_addr_v6" property="ipAddrV6"/>
        <result column="os_name" property="osName"/>
        <result column="os_version" property="osVersion"/>
        <result column="bro_name" property="broName"/>
        <result column="bro_version" property="broVersion"/>
        <result column="request_body" property="requestBody"/>
        <result column="description" property="description"/>
        <result column="other" property="other"/>
        <result column="method" property="method"/>

    </resultMap>
    <insert id="add" parameterType="com.wpmac.mzehtapi.po.UserActionLog">
        INSERT INTO
        `user_action_log`
        (`login_id`,`session_id`,`time`,`ip_addr_v4`,`ip_addr_v6`,`os_name`,`os_version`,`bro_name`,`bro_version`,`request_body`,`description`,`other`,`method`)
        VALUES
        (#{loginId},#{sessionId},#{time},#{ipAddrV4},#{ipAddrV6},#{osName},#{osVersion},#{broName},#{broVersion},#{requestBody},#{description},#{other},#{method})
    </insert>
    
    <select id="findAll" resultMap="ActionLogResultMap" >
        SELECT
			*
		FROM
			`user_action_log`
		ORDER BY
			`id`
		DESC
		LIMIT #{offset}, #{limit}
    </select>

    <select id="getAllCount" resultType="int" >
        SELECT
          COUNT(*)
		FROM
			`user_action_log`;
    </select>
</mapper>