<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpmac.mzehtapi.mapper.days.UserMapper">
    <resultMap id="UserResultMap" type="com.wpmac.mzehtapi.po.User">
        <id column="login_id" property="loginId"/>
        <result column="pwd" property="pwd"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="duty" property="duty"/>
        <result column="cell_number" property="cellNumber"/>
        <result column="photo_url" property="photoUrl"/>

    </resultMap>
    <select id="findOneById" resultMap="UserResultMap" parameterType="String">
    SELECT
    *
    FROM
    `user`
    WHERE
    login_id = #{Id}
</select>

    <!--增加语句-->
    <insert id="add" parameterType="com.wpmac.mzehtapi.po.User">
    INSERT INTO
    `user`
    (`login_id`,`name`,`age`,`sex`,`duty`,`cell_number`,`photo_url`,`pwd`,`used`)
    VALUES
    (#{loginId},#{name},#{age},#{sex},#{duty},#{cellNumber},#{photoUrl},#{pwd},#{used})
</insert>

    <!-- 删除 -->
    <update id="del" parameterType="com.wpmac.mzehtapi.po.User">
        UPDATE
        `user`
        SET
        `used`=FALSE
        WHERE
        `login_id`=#{loginId};
    </update>

    <!-- 更新用户信息 -->
    <update id="update" parameterType="com.wpmac.mzehtapi.po.User">
        UPDATE
        `user`
        SET
        `name`=#{name}, `age`=#{age}, `sex`=#{sex}, `duty`=#{duty}, `cell_number`=#{cellNumber}, `photo_url`=#{photoUrl}
        WHERE
        `login_id`=#{loginId};
    </update>

    <!--更新session的id-->
    <update id="updateLoginSession">
      UPDATE
        `user`
      SET
        `session_id`=#{sessionId}
      WHERE
        `login_id`=#{loginId};
    </update>
</mapper>